
main{
        width: 95%;
        max-width: 1140px;
        margin: 0 auto;
        font-family: Helvetica, Arial, sans-serif;
        font-weight: 100;
        font-size: 14.5px;
        line-height: 1.5;
        color: rgb(0, 0, 25);
        text-align: left;
}


.header_letras {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.header_letras h1 a:hover {
    text-decoration: none;
    color: rgb(240, 93, 80, 0.5);
}

.header_letras h1 a {
    text-decoration: none;
    color: rgb(240, 93, 80);
}

.autor {
    background-color: rgb(0, 0, 25);
    color: rgb(255, 255, 255);
    padding: 3%;
    text-align: center;

}

.autor a {
    background-color: rgb(0, 0, 25);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.autor a:hover {
    background-color: rgb(0, 0, 25);
    color: rgb(240, 93, 80);
    text-decoration: none;
}

nav p {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: center;
}

nav p a {
    color: rgb(0, 0, 25);
    text-decoration: none;
}

nav a:hover {
    color: rgb(0, 0, 25, 0.5);
}

.actual {
    font-style: italic;
    font-weight: 700;
}

main a {
    color: rgb(240, 93, 80);
    text-decoration: none;
}

main a:hover {
    color: rgb(240, 93, 80, 0.5);
}

h1 {
    font-weight: 600;
    text-align: center;
    font-size: 40px;
}



figure{
    margin-top: 2%;
    margin-bottom: 2%;
}

figcaption{
    margin-top: 1%;
}

dt{
    font-size: 20px;
    font-weight: 550;
}
dd{
    margin-left: 2%;
    margin-top: 1%;
    margin-bottom: 1%;
}

dd time{
    font-size: 1.2em;
    font-weight: 600;
    color: grey;
}
dd cite{
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.cita {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 100;
    text-align: justify;
    margin-left: 3%;
    margin-right: 7%;
    line-height: 1.7;
}

.concesion {
    line-height: 2;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-weight: 100;
    padding-bottom: 3%;
}

.salvador {
    text-align: center;
    font-weight: 100;
    font-size: 25px;
}

.salvador_anyo {
    text-align: center;
    font-weight: 100;
}

section img {
    width: 100%;
}

.descripcion_foto {
    text-align: center;
    font-size: 11px;

}

.informacion_foto {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    font-weight: bold;
    margin-right: 42%;
    padding-bottom: 1%;
}

.video_youtube {
    margin-left: 28%;
}

main footer p {
    padding-top: 5%;
    padding-bottom: 10%;
    font-style: italic;
}

.anyo_premios {
    text-align: center;
    font-size: 16px;
    padding-bottom: 2%;
}

.ordenados {
    text-align: center;
    font-size: 9px;
    text-transform: uppercase;
    padding-bottom: 3%;
}

ol {
    font-weight: 700;
    margin-left: 30%;
    color: rgb(0, 0, 25, 0.5);
}
ol li{
    list-style-image: url(../img/idioma.png);
}

ul li {
    margin-left: 5%;
    font-weight: 100;
    list-style: square;
}

.consultado {
    padding-top: 2%;
    text-align: center;
    padding-bottom: 5%;
}