body {
    margin: 0;
    padding: 0;
}

header {
    text-align: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

header h1 a:hover {
    text-decoration: none;
    color: rgb(240, 93, 80, 0.5);
}

header h1 a {
    text-decoration: none;
    color: rgb(240, 93, 80);
}

footer {
    background-color: rgb(0, 0, 25);
    color: rgb(255, 255, 255);
    padding: 3%;
    text-align: center;

}

footer a {
    background-color: rgb(0, 0, 25);
    color: rgb(255, 255, 255);
    text-decoration: none;
}

footer a:hover {
    background-color: rgb(0, 0, 25);
    color: rgb(240, 93, 80);
    text-decoration: none;
}

nav div {
    font-family: Helvetica, Arial, sans-serif;
    font-size: 14px;
    text-align: center;
    padding: 3px;
}

nav div a {
    color: rgb(0, 0, 25);
    text-decoration: none;
}

nav a:hover {
    color: rgb(0, 0, 25, 0.5);
}

.actual {
    font-style: italic;
    font-weight: 700;
}

main {
    font-family: Helvetica, Arial, sans-serif;
    font-weight: 100;
    font-size: 14.5px;
    line-height: 1.5;
    color: rgb(0, 0, 25);
    margin-left: 10%;
    margin-right: 12%;
    text-align: left;
}

main a {
    color: rgb(240, 93, 80);
    text-decoration: none;
}

main a:hover {
    color: rgb(240, 93, 80, 0.5);
}

h1 {
    text-align: center;
    font-size: 40px;
}

h3 {
    font-size: 20px;
    font-weight: 550;
}

.cita {
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 100;
    text-align: justify;
    margin-left: 3%;
    margin-right: 7%;
    line-height: 1.7;
}

.concesion {
    line-height: 2;
    margin-left: 20%;
    margin-right: 20%;
    text-align: center;
    font-weight: 100;
}

.salvador {
    text-align: center;
    font-weight: 100;
    font-size: 25px;
}

.salvador_anyo {
    text-align: center;
    font-weight: 100;
    padding-bottom: 4%;
}

section img {
    width: 100%;
}

.descripcion_foto {
    text-align: center;
    font-size: 11px;

}

.descripcion_cita {
    font-size: 11px;
    font-style: italic;
    margin-left: 3%;
}

.informacion_foto {
    font-size: 16px;
    line-height: 1.5;
    text-align: left;
    font-weight: bold;
    margin-right: 42%;
    padding-bottom: 1%;
}

.cursiva {
    font-style: italic;
}

.video_youtube {
    margin-left: 28%;
}

.autor_final {
    padding-top: 5%;
    padding-bottom: 10%;
    font-style: italic;
}

.anyo_premios {
    text-align: center;
    font-size: 16px;
    padding-bottom: 2%;
}

.ordenados {
    text-align: center;
    font-size: 9px;
    text-transform: uppercase;
    padding-bottom: 3%;
}

ol {
    font-weight: 700;
    margin-left: 30%;
    color: rgb(0, 0, 25, 0.5);
    list-style-image: url(../img/idioma.png);
}

ul li {
    font-weight: 100;
    list-style: square;
}

.consultado {
    padding-top: 4%;
    text-align: center;
    padding-bottom: 5%;
}